{% extends 'base.html' %}
{% load static %}

{% block title %}- {{ movie.title }}{% endblock %}

{% block main_content %}
<div class="main-widget">
    <div class="widget-body">
        <div class="detail-container">
            <div class="detail-header">
                <div class="detail-poster">
                    <img src="{{ movie.get_full_image_url }}">
                </div>

                <div class="detail-header-info">
                    <div class="detail-header-title">
                        <div class="detail-header-title-row">
                            <div class="header-title">{{ movie.title }}</div>
                        </div>

                        <div class="detail-header-title-row">
                            <ul>
                                <li>{{ movie.release_date|date:'m/d/Y' }}</li>
                                <li>&bull; {{ movie.runtime }} minutes</li>
                            </ul>
                        </div>

                        <div class="detail-header-title-row">
                            <a href="{% url 'movie-detail' pk=movie.id %}">API Link</a>
                        </div>
                    </div>

                    {% if movie.genres %}
                    <div class="detail-header-tags">
                        {% for genre in movie.genres.all %}
                            {% include 'genre/genre_container.html' %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="detail-header-overview">
                        <h4>Overview</h4>
                        <p>{{ movie.overview }}</p>
                    </div>
                </div>
            </div>

            <div class="detail-body">
                {% if movie.get_cast %}
                <div class="cast-wrapper">
                    <h3>Cast <span>{{ movie.get_cast|length }}</span></h3>

                    {% for movie_credit in movie.get_cast %}
                    <div class="cast-row" data-id="{{ movie_credit.id }}">
                        {% if movie_credit.person %}
                        <a href="{% url 'person' pk=movie_credit.person.id %}">
                        {% endif %}
                        <div class="cast-image">
                            {% if movie_credit.person %}
                                <img src="{{ movie_credit.person.get_small_image_url }}">
                            {% else %}
                                <img src="{% static 'img/no_image.png' %}">
                            {% endif %}
                        </div>

                        <div class="cast-info">
                            <div class="cast-name">
                                {% if movie_credit.person %}
                                    {{ movie_credit.person.name }}
                                {% elif movie_credit.actor_name %}
                                    {{ movie_credit.actor_name }}
                                {% endif %}
                            </div>
                            <div class="cast-role">{{ movie_credit.role }}</div>
                        </div>
                        {% if movie_credit.person %}
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
