{% extends 'base.html' %}

{% block main_content %}
<div class="main-widget">
    <div class="widget-body">
        <div class="movie-detail-container">
            <div class="movie-detail-header">
                <div class="movie-detail-poster">
                    <img src="{{ movie.get_full_image_url }}">
                </div>

                <div class="movie-detail-header-info">
                    <div class="movie-detail-header-title">
                        <div class="movie-detail-header-title-row">
                            <div class="header-title">{{ movie.title }}</div>
                            <div class="header-date">{{ movie.release_date|date:'Y' }}</div>
                        </div>

                        <div class="movie-detail-header-title-row">
                            <ul>
                                <li>{{ movie.release_date|date:'m/d/Y' }}</li>
                                <li>&bull; {{ movie.runtime }} minutes</li>
                            </ul>
                        </div>
                    </div>

                    <div class="movie-detail-header-overview">
                        <h4>Overview</h4>
                        <p>{{ movie.overview }}</p>
                    </div>
                </div>
            </div>

            <div class="movie-detail-body">

            </div>
        </div>
    </div>
</div>

<p>
    <a href="{{request.META.HTTP_REFERER}}">Back</a>
</p>
{% endblock %}
