$black: #161616

%box-shadow
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
%border-radius
  border-radius: 0.2em
body
  color: $black
  padding: 0
  margin: 0
a
  text-decoration: none

.main-container
  display: flex
  flex-direction: column
  min-height: 100vh

.nav
  display: flex
  justify-content: space-between
  padding: 1em

  @extend %box-shadow

  .nav-logo
    font-weight: bold

  .nav-links
    a
      margin: 0 .5em

.body
  margin: 0 auto
  width: 100%
  max-width: 60em
  flex: 1

  .body-inner
    display: flex
    justify-content: space-around
    flex-wrap: wrap

.footer
  margin: 0 auto
  margin-bottom: 2em
  max-width: 70em
  width: 100%

  .footer-links
    display: flex
    justify-content: space-evenly

    ul
      padding-left: 0
      list-style: none

      li:first-of-type
        font-weight: bold

      li
        margin: .25em 0
        a
          margin-left: 0.5em

  .footer-extra
    text-align: center

    .footer-img
      margin: 0 auto
      max-width: 5em
      img
        width: 100%

.main-widget
  display: inline-flex
  flex-direction: column
  margin-top: 1em
  padding: 0.25em 0.5em
  @extend %box-shadow
  @extend %border-radius

  .widget-title
    display: block
    margin: 0
    padding: 0

  .widget-body
    display: flex
    flex-wrap: wrap
    flex: 1

  .more-link
    text-align: right

.movie-container
  margin: .25em
  width: 5em
  a
    text-decoration: none
  .poster
    max-width: 5em
    img
      width: 100%
  .movie-title
    font-size: 0.8em

.pagination
  margin: .5em auto
  text-align: center

.detail-container
  padding: .5em 0
  .detail-header
    display: flex

    .detail-poster
      max-width: 15em
      img
        width: 100%

    .detail-header-info
      padding: 0 0.5em
      flex-shrink: 2

      .detail-header-title
        .detail-header-title-row
          display: flex
          align-items: center
          margin-bottom: 0.5em
          ul
            padding: 0
            margin: 0
            li
              display: inline

        .header-title
          font-weight: bold
          font-size: 1.5em

    .detail-header-overview
      h4
        margin: 0.25em auto
      p
        margin: 0.25em auto

  .detail-body
    h3
      margin: .25em auto

    .filmography-timeline
      .filmography-row,
      .filmography-row a
        display: flex

      .filmography-year
        min-width: 2.5em
      .filmography-title-wrapper
        display: flex
        .filmography-title
        .filmography-role
          margin-left: 0.25em

    .cast-wrapper
      .cast-row
        a
          display: flex

      .cast-image
        max-width: 3em
        img
          width: 100%

      .cast-info
        margin-left: 0.5em
        color: $black
        .cast-name
          font-size: 1.2em
          font-weight: bold
        .cast-role
          font-size: 1em

