@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");
.search-form input {
  border: 1px solid #ddd;
}

.detail-container .detail-body .cast-wrapper .cast-image, .detail-container .detail-body .filmography-timeline .filmography-image, .detail-container .detail-header .detail-poster img, .genre-tag, .movie-container .poster img, .search-form input, .back-link a, .search-form button, .button {
  border-radius: 0.25em;
}

body::-webkit-scrollbar, .detail-container .detail-body::-webkit-scrollbar, .main-widget .widget-body.list-view::-webkit-scrollbar, .main-widget .widget-body.search-results::-webkit-scrollbar {
  background-color: #FFF;
  width: 16px;
}
body::-webkit-scrollbar-track, .detail-container .detail-body::-webkit-scrollbar-track, .main-widget .widget-body.list-view::-webkit-scrollbar-track, .main-widget .widget-body.search-results::-webkit-scrollbar-track {
  background-color: #FFF;
}
body::-webkit-scrollbar-thumb, .detail-container .detail-body::-webkit-scrollbar-thumb, .main-widget .widget-body.list-view::-webkit-scrollbar-thumb, .main-widget .widget-body.search-results::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  border: 4px solid #FFF;
}
body::-webkit-scrollbar-button, .detail-container .detail-body::-webkit-scrollbar-button, .main-widget .widget-body.list-view::-webkit-scrollbar-button, .main-widget .widget-body.search-results::-webkit-scrollbar-button {
  display: none;
}
body:hover::-webkit-scrollbar-thumb, .detail-container .detail-body:hover::-webkit-scrollbar-thumb, .main-widget .widget-body.list-view:hover::-webkit-scrollbar-thumb, .main-widget .widget-body.search-results:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
}
body::-webkit-scrollbar-thumb:hover, .detail-container .detail-body::-webkit-scrollbar-thumb:hover, .main-widget .widget-body.list-view::-webkit-scrollbar-thumb:hover, .main-widget .widget-body.search-results::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

.detail-container .detail-body, .main-widget .widget-body.list-view, .main-widget .widget-body.search-results {
  overflow-y: auto;
  max-height: 60em;
}

.back-link a, .search-form button, .button {
  cursor: pointer;
  color: #FFF;
  background-color: #8c53c6;
  padding: 0.25em 0.5em;
  font-weight: 200;
}
.back-link a a, .search-form button a, .button a {
  color: #FFF;
}
.back-link a:hover, .search-form button:hover, .button:hover {
  color: #FFF !important;
  background-color: #7239ad;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #484848;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #484848;
}
a:hover {
  color: #8c53c6 !important;
}

h3 span {
  font-weight: 200;
  color: #a8a8a8;
}

img.square-crop {
  margin: -8px 0 0 0;
}

.main-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100vh;
  max-width: 90em;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.nav .nav-logo a {
  color: #8c53c6;
  font-size: 1.5em;
}
.nav .nav-logo a:hover {
  color: #7239ad;
}

.body {
  margin: 0 auto;
  width: 100%;
  max-width: 60em;
  flex: 1;
}
.body .body-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */
.footer {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 70em;
  width: 100%;
}
.footer .footer-links {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0.5em;
}
.footer .footer-links ul {
  padding-left: 0;
  list-style: none;
}
.footer .footer-links ul li:first-of-type {
  font-weight: bold;
}
.footer .footer-links ul li {
  margin: 0.25em 0;
}
.footer .footer-links ul li a {
  color: #a8a8a8;
}
.footer .footer-extra {
  text-align: center;
  color: #a8a8a8;
}
.footer .footer-extra .footer-img {
  margin: 0 auto;
  max-width: 5em;
}
.footer .footer-extra .footer-img img {
  width: 100%;
}

/* Main Widget */
.main-widget {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 0.25em 0.5em;
}
.main-widget .widget-title {
  display: block;
  margin: 0;
  padding: 0;
}
.main-widget .widget-body {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
.main-widget .widget-body.search-results {
  justify-content: flex-start;
}
.main-widget .more-link {
  margin-top: 0.5em;
  float: left;
}

/* Search */
.search-form {
  display: flex;
}
.search-form input {
  margin-right: 0.25em;
  padding: 0.5em 0.75em;
  font-weight: 400;
  color: #484848;
}
.search-form input::placeholder {
  color: #a8a8a8;
}
.search-form button {
  border: none;
}

.full-width-search-form {
  margin-top: 1em;
  padding: 0.25em 0.5em;
}
.full-width-search-form input {
  padding: 0.875rem 1.5rem;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
}
.full-width-search-form button {
  font-size: 1rem;
  line-height: 1rem;
}

/* Generic Object Container - rename eventually */
.movie-container {
  margin: 0.25em;
  width: 5em;
}
.movie-container a {
  text-decoration: none;
}
.movie-container .poster {
  max-width: 5em;
}
.movie-container .poster img {
  width: 100%;
}
.movie-container .movie-title {
  word-break: break-word;
}
.movie-container .movie-title .movie-credit-actor {
  color: #a8a8a8;
  font-weight: 200;
}
.movie-container:hover .poster {
  opacity: 0.8;
}
.movie-container:hover .movie-title {
  color: #8c53c6;
}

/* Pagination */
.pagination {
  margin: 0.5em auto;
  text-align: center;
}

/* Tags */
.genre-tag {
  margin: 0.1em;
  margin-right: 0.2em;
  margin-left: 0;
  padding: 0.25em;
  background-color: #a8a8a8;
  font-weight: 200;
  color: white;
}
.genre-tag:hover {
  background-color: #8c53c6;
}

.front-page-genres .genre-tag {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 200;
}

.back-link {
  margin: 0;
  margin-top: 1em;
  margin-left: 0.5em;
}
/* Detail Container */
.detail-container {
  padding: 0.5em 0;
}
.detail-container .detail-header {
  display: flex;
}
.detail-container .detail-header .detail-poster {
  max-width: 15em;
}
.detail-container .detail-header .detail-poster img {
  width: 100%;
}
.detail-container .detail-header .detail-header-info {
  padding: 0 0.5em;
  flex-shrink: 2;
}
.detail-container .detail-header .detail-header-info .detail-header-tags {
  display: flex;
}
.detail-container .detail-header .detail-header-info .detail-header-title .detail-header-title-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.detail-container .detail-header .detail-header-info .detail-header-title .detail-header-title-row ul {
  padding: 0;
  margin: 0;
}
.detail-container .detail-header .detail-header-info .detail-header-title .detail-header-title-row ul li {
  display: inline;
  color: #a8a8a8;
}
.detail-container .detail-header .detail-header-info .detail-header-title .header-title {
  font-weight: bold;
  font-size: 1.5em;
}
.detail-container .detail-header .detail-header-overview h4 {
  margin: 0.25em auto;
}
.detail-container .detail-header .detail-header-overview p {
  margin: 0.25em auto;
}
.detail-container .detail-body {
  /* Person-specific filmography list */
  /* Movie-specific cast list */
}
.detail-container .detail-body h3 {
  margin: 0.25em auto;
}
.detail-container .detail-body .filmography-timeline .filmography-row,
.detail-container .detail-body .filmography-timeline .filmography-row a {
  display: flex;
  margin: 0.25em 0;
}
.detail-container .detail-body .filmography-timeline .filmography-row:hover .filmography-image,
.detail-container .detail-body .filmography-timeline .filmography-row a:hover .filmography-image {
  opacity: 0.8;
}
.detail-container .detail-body .filmography-timeline .filmography-row:hover .filmography-title-role-wrapper,
.detail-container .detail-body .filmography-timeline .filmography-row a:hover .filmography-title-role-wrapper {
  color: #8c53c6;
}
.detail-container .detail-body .filmography-timeline .filmography-image {
  height: 3em;
  width: 3em;
  overflow: hidden;
}
.detail-container .detail-body .filmography-timeline .filmography-image img {
  width: 100%;
}
.detail-container .detail-body .filmography-timeline .filmography-year {
  min-width: 2.5em;
}
.detail-container .detail-body .filmography-timeline .filmography-title-wrapper {
  margin-left: 0.5em;
}
.detail-container .detail-body .filmography-timeline .filmography-title-wrapper .filmography-title-role-wrapper {
  display: flex;
}
.detail-container .detail-body .filmography-timeline .filmography-title-wrapper .filmography-title-role-wrapper .filmography-title {
  font-weight: bold;
}
.detail-container .detail-body .filmography-timeline .filmography-title-wrapper .filmography-title-role-wrapper .filmography-role {
  margin-left: 0.25em;
}
.detail-container .detail-body .cast-wrapper .cast-row,
.detail-container .detail-body .cast-wrapper .cast-row a {
  display: flex;
  margin: 0.25em 0;
}
.detail-container .detail-body .cast-wrapper .cast-row:hover .cast-image,
.detail-container .detail-body .cast-wrapper .cast-row a:hover .cast-image {
  opacity: 0.8;
}
.detail-container .detail-body .cast-wrapper .cast-row:hover .cast-name,
.detail-container .detail-body .cast-wrapper .cast-row a:hover .cast-name {
  color: #8c53c6;
}
.detail-container .detail-body .cast-wrapper .cast-image {
  width: 3em;
  height: 3em;
  overflow: hidden;
}
.detail-container .detail-body .cast-wrapper .cast-image img {
  width: 100%;
}
.detail-container .detail-body .cast-wrapper .cast-info {
  margin-left: 0.5em;
  color: #484848;
}
.detail-container .detail-body .cast-wrapper .cast-info .cast-name {
  font-size: 1.2em;
  font-weight: bold;
}
.detail-container .detail-body .cast-wrapper .cast-info .cast-role {
  font-size: 1em;
  color: #a8a8a8;
  font-weight: 200;
}

/*# sourceMappingURL=main.css.map */
