.main-widget, .nav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.main-widget {
  border-radius: 0.2em;
}

body {
  color: #161616;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.nav .nav-logo {
  font-weight: bold;
}
.nav .nav-links a {
  margin: 0 0.5em;
}

.body {
  margin: 0 auto;
  width: 100%;
  max-width: 60em;
  flex: 1;
}
.body .body-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 70em;
  width: 100%;
}
.footer .footer-links {
  display: flex;
  justify-content: space-evenly;
}
.footer .footer-links ul {
  padding-left: 0;
  list-style: none;
}
.footer .footer-links ul li:first-of-type {
  font-weight: bold;
}
.footer .footer-links ul li {
  margin: 0.25em 0;
}
.footer .footer-links ul li a {
  margin-left: 0.5em;
}
.footer .footer-extra {
  text-align: center;
}
.footer .footer-extra .footer-img {
  margin: 0 auto;
  max-width: 5em;
}
.footer .footer-extra .footer-img img {
  width: 100%;
}

.main-widget {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 0.25em 0.5em;
}
.main-widget .widget-title {
  display: block;
  margin: 0;
  padding: 0;
}
.main-widget .widget-body {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.main-widget .more-link {
  text-align: right;
}

.movie-container {
  margin: 0.25em;
  width: 5em;
}
.movie-container a {
  text-decoration: none;
}
.movie-container .poster {
  max-width: 5em;
}
.movie-container .poster img {
  width: 100%;
}
.movie-container .movie-title {
  font-size: 0.8em;
}

.pagination {
  margin: 0.5em auto;
  text-align: center;
}

.detail-container {
  padding: 0.5em 0;
}
.detail-container .detail-header {
  display: flex;
}
.detail-container .detail-header .detail-poster {
  max-width: 15em;
}
.detail-container .detail-header .detail-poster img {
  width: 100%;
}
.detail-container .detail-header .detail-header-info {
  padding: 0 0.5em;
  flex-shrink: 2;
}
.detail-container .detail-header .detail-header-info .detail-header-title .detail-header-title-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.detail-container .detail-header .detail-header-info .detail-header-title .detail-header-title-row ul {
  padding: 0;
  margin: 0;
}
.detail-container .detail-header .detail-header-info .detail-header-title .detail-header-title-row ul li {
  display: inline;
}
.detail-container .detail-header .detail-header-info .detail-header-title .header-title {
  font-weight: bold;
  font-size: 1.5em;
}
.detail-container .detail-header .detail-header-overview h4 {
  margin: 0.25em auto;
}
.detail-container .detail-header .detail-header-overview p {
  margin: 0.25em auto;
}
.detail-container .detail-body .filmography-timeline h3 {
  margin: 0.25em auto;
}
.detail-container .detail-body .filmography-timeline .filmography-row {
  display: flex;
}
.detail-container .detail-body .filmography-timeline .filmography-year {
  min-width: 2.5em;
}
.detail-container .detail-body .filmography-timeline .filmography-title-wrapper {
  display: flex;
}
.detail-container .detail-body .filmography-timeline .filmography-title-wrapper .filmography-role {
  margin-left: 0.25em;
}

/*# sourceMappingURL=main.css.map */
