{% extends 'base.html' %}

{% block title %}- {{ person.name}}{% endblock %}

{% block main_content %}
<div class="main-widget">
    <div class="widget-body">
        <div class="detail-container">
            <div class="detail-header">
                <div class="detail-poster">
                    <img src="{{ person.get_full_image_url }}">
                </div>

                <div class="detail-header-info">
                    <div class="detail-header-title">
                        <div class="detail-header-title-row">
                            <div class="header-title">{{ person.name}}</div>
                        </div>

                        <div class="detail-header-title-row">
                            <ul>
                                {% if person.birthday %}
                                <li>{{ person.birthday|date:'m/d/Y' }}</li>
                                {% endif %}

                                {% if person.place_of_birth %}
                                <li>&bull; {{ person.place_of_birth }}</li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="detail-header-title-row">
                            <a href="{% url 'person-detail' pk=person.id %}">API Link</a>
                        </div>
                    </div>

                    <div class="detail-header-overview">
                        {% if person.bio %}
                        <h4>Biography</h4>
                        <p>{{ person.bio }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="detail-body">
                {% if person.get_movie_credits %}
                <div class="filmography-timeline">
                    <h3>Filmography <span>{{ person.get_movie_credits|length }}</span></h3>

                    {% for movie_credit in person.get_movie_credits %}
                    <div class="filmography-row">
                        {% if movie_credit.movie %}
                        <a href="{% url 'movie' pk=movie_credit.movie.id %}">
                        {% endif %}
                        <div class="filmography-image">
                            {% if movie_credit.movie %}
                            <img class="square-crop" src="{{ movie_credit.movie.get_small_image_url }}">
                            {% else %}
                            <img class="square-crop" src="{{ movie_credit.movie.get_small_image_url }}">
                            {% endif %}
                        </div>

                        <div class="filmography-title-wrapper">
                            <div class="filmography-title-role-wrapper">
                                <div class="filmography-title">{{ movie_credit.movie_title }}</div>
                                {% if movie_credit.role %}
                                <div class="filmography-role">as {{ movie_credit.role }}</div>
                                {% endif %}
                            </div>
                            <div class="filmography-year">{{ movie_credit.release_date|date:'Y' }}</div>
                        </div>
                        {% if movie_credit.movie %}
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
