{% extends 'base.html' %}

{% block title %}- {{ person.name}}{% endblock %}

{% block main_content %}
<div class="main-widget">
    <div class="widget-body">
        <div class="detail-container">
            <div class="detail-header">
                <div class="detail-poster">
                    <img src="{{ person.get_full_image_url }}">
                </div>

                <div class="detail-header-info">
                    <div class="detail-header-title">
                        <div class="detail-header-title-row">
                            <div class="header-title">{{ person.name}}</div>
                        </div>

                        <div class="detail-header-title-row">
                            <ul>
                                <li>{{ person.birthday|date:'m/d/Y' }}</li>
                                <li>&bull; {{ person.place_of_birth }}</li>
                            </ul>
                        </div>

                        <div class="detail-header-title-row">
                            <a href="{% url 'person-detail' pk=person.id %}">API Link</a>
                        </div>
                    </div>

                    <div class="detail-header-overview">
                        <h4>Biography</h4>
                        <p>{{ person.bio }}</p>
                    </div>
                </div>
            </div>

            <div class="detail-body">
                <div class="filmography-timeline">
                    <h3>Filmography</h3>

                    {% for movie_credit in person.get_movie_credits %}
                    <div class="filmography-row">
                        {% if movie_credit.movie %}
                        <a href="{% url 'movie' pk=movie_credit.movie.id %}">
                        {% endif %}
                        <div class="filmography-year">{{ movie_credit.release_date|date:'Y' }}</div>
                        <div class="filmography-title-wrapper">
                            <div class="filmography-title">{{ movie_credit.movie_title }}</div>
                            <div class="filmography-role">as {{ movie_credit.role }}</div>
                        </div>
                        {% if movie_credit.movie %}
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <a href="{{request.META.HTTP_REFERER}}">Back</a>
</p>
{% endblock %}
