<div class="footer">
    <ul>
        <li>Footer Link Group 1</li>
        <li><a href="">Footer Link 1</a></li>
        <li><a href="">Footer Link 2</a></li>
        <li><a href="">Footer Link 3</a></li>
        <li><a href="">Footer Link 4</a></li>
    </ul>

    <ul>
        <li>Footer Link Group 2</li>
        <li><a href="">Footer Link 1</a></li>
        <li><a href="">Footer Link 2</a></li>
        <li><a href="">Footer Link 3</a></li>
    </ul>

    <ul>
        <li>Footer Link Group 3</li>
        <li><a href="">Footer Link 1</a></li>
        <li><a href="">Footer Link 2</a></li>
    </ul>
</div>