<div class="footer">
    <div class="footer-links">
        <ul>
            <li>About the App</li>
            <li><a href="https://github.com/kershner/drf_movie_app">Github</a></li>
            <li><a href="https://hub.docker.com/repository/docker/tylerkershner/tyler-movie-app">Docker Hub Repository</a></li>
            <li><a href="/api">Browsable API</a></li>
        </ul>

        <ul>
            <li>About the Author</li>
            <li><a href="https://www.kershner.org">Tyler's Website</a></li>
        </ul>

        <ul>
            <li>About the Data</li>
            <li><a href="{% url 'about_the_data' %}">Writeup</a></li>
            <li><a href="{% url 'admin:index' %}">View Django Admin</a></li>
        </ul>
    </div>

    <div class="footer-extra">
        <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>

        <div class="footer-img">
            <a href="https://www.themoviedb.org/">
                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg">
            </a>
        </div>
    </div>
</div>
