<div class="movie-container small">
    {% if movie_credit.movie %}
    <a href="{% url 'movie' pk=movie_credit.movie.id %}">
    {% endif %}

    <div class="poster">
        {% if movie_credit.tmdb_image_path %}
            <img src="{{ movie_credit.get_small_image_url }}">
        {% elif movie_credit.movie %}
            <img src="{{ movie_credit.movie.get_small_image_url }}">
        {% else %}
            <img src="{{ movie_credit.get_small_image_url }}">
        {% endif %}
    </div>
    <div class="movie-title">
        {{ movie_credit.role }}
    </div>

    {% if movie_credit.movie %}
    </a>
    {% endif %}
</div>